<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/Index}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Virtual Shop - Products</title>
</head>
<div layout:fragment="spa-container">
    <h1 align="center">Product List</h1>
    <br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${allProducts}">
            <td th:text="${product.id}">Id</td>
            <td th:text="${product.item}">Name</td>
            <td th:text="${product.amount}">Amount</td>
        </tr>
        </tbody>
    </table>
</div>
</html>