<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Home}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secure Virtual Shop - Shopping Cart</title>
</head>
<section layout:fragment="content">
  <h1 align="center">Cart List</h1>
  <hr>
  <table border="1" cellpadding="10" align="center" th:if="${products}">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Details</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${products}">
      <td th:text="${entry.value.name}">Name</td>
      <td th:text="${entry.value.price}">Price</td>
      <td th:text="${entry.value.amount}">Amount</td>
      <!--<td><a th:href="@{/Products/Details/{id}(id = ${product.id})}">Details</a></td>-->
      <td><a th:href="@{/Products/Details(id = ${entry.value.id})}">Details</a></td>
      <td><a th:href="@{/Cart/Remove/{id}(id = ${entry.value.id})}">Remove</a></td>
    </tr>
    </tbody>
  </table>
  <!--<form id="buy_cart" action="/Cart/Buy" method="post">
    <div class="row container-fluid">
      <input type="submit" value="Buy" class="btn btn-success"
             style="margin-left: 50%;margin-top: 5px;margin-bottom: 5px;width: 80px"/>
    </div>
  </form>-->
</section>
</html>