.home-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 388px;
    width: 853.33px;
    display: block;
    margin: auto;
}
